# 로컬 기본값 (dev, prod 서버에 배포하기전에 반드시 다른 값으로 변경)
MYSQL_ROOT_PASSWORD=p@ssword
MYSQL_DATABASE=back
MYSQL_USER=back_user
MYSQL_PASSWORD=p@ssword

# 서버 전용 (dev, prod) — local에서는 비워도 무방
APP_IMAGE=
SPRING_PROFILE=